body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(159, 243, 243);
    font-family: sans-serif;
}

h1 {
    font-family: 'Montserrat Subrayada', sans-serif;
    font-size: 50px;
    color: rgb(159, 243, 243);
    text-shadow: 0 0 2px rgb(26, 65, 109), 0 0 2px rgb(26, 65, 109),
    0 0 2px rgb(26, 65, 109), 0 0 2px rgb(26, 65, 109);
}

.gridContainer {
    margin-top: 15px;
    border: 3px solid rgb(70, 70, 70);
    box-shadow: 3px 6px 10px rgb(114, 114, 114);
    width: 480px;
    height: 480px;
    display: flex;
    flex-wrap: wrap;
}

.grid {
    width: 30px;
    height: 30px;
    transition: all 0.3s ease;
    background-color: white;
}

.buttonSize {
    padding: 10px 15px;
    margin-top: 30px;
    background-color: rgb(26, 65, 109);
    font-size: 20px;
    color: white;
    border: solid 3px rgb(26, 65, 109);
    border-radius: 10px;
    transition: all 0.2s;
}
.buttonSize:hover {
    box-shadow: 0px 0px 5px rgb(76, 110, 151),
    0px 0px 5px rgb(76, 110, 151);
    border: solid 3px rgb(104, 142, 185);
}

.author {
    font-size: 18px;
    margin-top: 15px;
    color: rgb(0, 47, 255);
    text-shadow: 0 0 2px red
}
a {
    text-decoration: none;
    color: rgb(159, 243, 243);
    text-shadow: 0 0 2px red, 0 0 2px red, 0 0 2px red,
    0 0 2px red;
}
a:hover {
    text-decoration: underline;
}

.darker90 {
    filter: brightness(0.9)
}

.darker80 {
    filter: brightness(0.8)
}

.darker70 {
    filter: brightness(0.7)
}

.darker60 {
    filter: brightness(0.6)
}

.darker50 {
    filter: brightness(0.5)
}

.darker40 {
    filter: brightness(0.4)
}

.darker30 {
    filter: brightness(0.3)
}

.darker20 {
    filter: brightness(0.2)
}

.darker10 {
    filter: brightness(0.1)
}

.darker0 {
    filter: brightness(0)
}